{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    <div class="columns mt-4">
        <div class="column is-4 is-offset-4">
            <form method="post">
                <h1 class="is-size-3 mb-4">Authentication needed to access this page.</h1>

                {% if error %}
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Error</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </article>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="field mt-4">
                    <label class="label" for="inputEmail">Email</label>
                    <div class="control">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input"
                               autocomplete="email" placeholder="Email address" required autofocus>
                    </div>
                    <p class="help">Enter your email address</p>
                </div>

                <div class="field">
                    <label for="inputPassword" class="label">Password</label>
                    <div class="control">
                        <input type="password" name="password" id="inputPassword" class="input"
                               autocomplete="current-password"
                               placeholder="Password"
                               required>
                    </div>
                    <p class="help">Enter your password</p>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">
                            Sign in
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>



{% endblock %}
